@page "{Id:int}"

@model CollegeInfo.Pages.Colleges.EditModel
@{
    ViewData["Title"] = "Edit";
}

<h2>Editing @Model.College.CollegeName</h2>


<form method="post">
<input type="hidden" asp-for="College.Id" />
<div class=" form-group">
    <label asp-for="College.CollegeName">
        Name
        <input asp-for="College.CollegeName" class="form-control" />
    </label>
    <span class="danger" asp-validation-for="College.CollegeName"> </span>
</div>
<div class=" form-group">
    <label asp-for="College.City">
        Location
        <input asp-for="College.City" class="form-control" />
    </label>
    <span class="danger" asp-validation-for="College.City"> </span>
</div>
<div class=" form-group">
    <label asp-for="College.Department">
        Category
        <select class="form-control" asp-for="College.Department"
                asp-items="Model.DepartmentOfCollege"></select>
    </label>
    <span class="danger" asp-validation-for="College.Department"> </span>

</div>
<button type="submit" class="btn btn-primary">Save</button>
</form>
